# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

# IDE
.idea/

# mypy
.mypy_cache/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS
.DS_Store
Thumbs.db